
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.logo-image {
  width: 90px; /* Adjust the width to your desired size */
  height: auto; /* This ensures the height adjusts proportionally */
}



.navbar-brand {
    font-weight: bold;
}



.footer {
    flex-shrink: 0;
    padding: 20px 0;
    text-align: center;
    
}

main {
    flex: 1 0 auto;
}

.mountain-img {
    width: 100%;
    height: auto;
}

.custom-dropdown select {
    width: 165px; 
}

.button {
    width: 100px; 
}

.btn-group {
    gap: 10px; 
}

.page-background {
    background-image: url("images/Parkimage.jpg");
    background-size: cover;
    
}

.container h1 {
    color: rgb(255, 255, 255); 
    font-family: 'Alegreya Sans SC';font-size: 60px;
  }

  label {
    color: rgb(255, 255, 255); 
    font-family: 'Alegreya Sans SC';font-size: 20px;
  }

  .hero {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(12, 3, 51, 0.3)), (rgba(12, 3, 51, 0.3));
    position: relative;
    display: flex;
    padding: 0.5%;
    align-items: center;
    justify-content: center;
}

.word {
    display: block;
}



.content {
    text-align: center;
}

.content h1 {
    font-size: 120px;
    color: #ffffff;
    font-weight: 600;
    transition: 0, 5s;
}

.content h1:hover {
    -webkit-text-stroke: 2px #fff;
    color: transparent;
}


.content a {
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-size: 24px;
    border: 2px solid #fff;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 20px;

}

.content a:hover {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.back-video {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media (min-aspect-ratio: 16/9) {
    .back-video {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    .back-video {
        width: auto;
        height: 100%;
    }
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-btn {
    background-color: #ffffff00;
    font-size: 25px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    border: 2px solid #fff;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 20px;
}

.dropdown-content {
    display: none;
    position: absolute;

}

.dropdown-content a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    width: 100%; 
   
}
.dropdown-content {
    display: none;
    /* Other styling properties */
  }
  
  .dropdown-content.show {
    display: block;
  }
  
  /* style.css */

@keyframes fade-in {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /* fade in for cards */
  .col-md-4 {
    animation: fade-in 0.5s ease forwards;
    opacity: 0;
  }
  
  .col-md-4:nth-child(1) {
    animation-delay: 0.2s;
  }
  
  .col-md-4:nth-child(2) {
    animation-delay: 0.4s;
  }
  
  .col-md-4:nth-child(3) {
    animation-delay: 0.6s;
  }

  .col-md-4:nth-child(4) {
    animation-delay: 0.8s;
  }
  
  .col-md-4:nth-child(5) {
    animation-delay: 1s;
  }
  
  .col-md-4:nth-child(6) {
    animation-delay: 1.2s;
  }
  
  @keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* mountain animation */
#mountainInfo .col-md-6 {
    animation: slideInLeft 1s ease-in-out;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

  /*Style for mountain img & font */
  .mountain-img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
/* hover effect might remove later*/
  .mountain-img:hover {
    transform: scale(1.1);
    border-radius: 45px;
  }

  #mountainInfo p {
    font-family: 'Alegreya Sans SC';font-size: 22px;
    font-size: 22px;
    color: #000000;
    margin-bottom: 10px;
    background-color: #ffffff83;
  }
  
  #mountainInfo strong {
    font-weight: bold;
  }

  #mountainHeading {
    font-family: 'Alegreya Sans SC';font-size: 65px;
    color: rgb(0, 0, 0);
    /* CSS rules for the specific h1 element with id "mountainHeading" */
  }

  #mountainSelect {
    font-family: 'Alegreya Sans SC';font-size: 20px;
    color: rgb(0, 0, 0);
    width: 30%;
   
  }

  label[for="mountainSelect"] {
    color: rgb(0, 0, 0);
    font-size: 35px;
    font-weight: bold;
  }


/* styling for Park cards*/
  .card {
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: 'Alegreya Sans SC';font-size: 17px;
  
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  font-family: 'Alegreya Sans SC';font-size: 25px;
  
}

.card-body {
  padding: 10px;
  
}

.card-text {
  margin-bottom: 5px;
  
}

.card-text strong {
  font-weight: bold;
  color: rgb(255, 7, 7);
}

#searchDropdown {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 7px;
    background-color: #fff;
    font-size: 14px;
    color: #333;
    width: 18%;
    box-sizing: border-box;
    font-family: 'Alegreya Sans SC';font-size: 15px;
  }
  
  
  .button {
    padding: 8px 16px;
    background-color: #001aff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Alegreya Sans SC';font-size: 15px;
  }
  
  .button:hover {
    background-color: #000000;
  }
  
  #resetButton {
    margin-left: 8px;
  }
  
  .button:focus {
    outline: none;
    box-shadow: none;
  }
  
  .mounthim {
    background-image: url("images/mounthim.jpg");
    background-size: cover;
    /* Additional background styles if needed */
}

.logo-image {
  width: 70px;
}

